#gameMenu{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 800;
    height: 600;
    border: 5px solid chocolate;
}

#gameTitle{
    border: 5px solid green;
    top: 40;
    left: 200;
    width: 400;
    height: 80;
    font-size: 75px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

#questionaire{
    position: absolute;
    top: 440;
    left: 450;
    height: 110;
    width: 300;
    border: 5px solid purple;
}

#gameHero{
    position: absolute;
    top: 190;
    left: 450;
    width: 160;
    height: 160;
    border: 5px solid lightskyblue;
}

#gameBubble{
    position: absolute;
    top: 150;
    left: 640;
    width: 110;
    height: 80;
    border: 5px solid yellow;
}

#back{
    position: absolute;
    top: 60;
    left: 25;
    width: 115;
    height: 40;
    border: 5px solid red;
}


#enter{
    position: absolute;
    top: 60;
    left: 165;
    width: 115;
    height: 40;
    border: 5px solid green;
}

#question{
    position: absolute;
    top: 15;
    left: 25;
    font-size: 30px;
}

#insert{
    position: absolute;
    top: 15;
    left: 150;
    width: 125;
    height: 35;
    font-size: 27px;
}

#points{
    top: 340;
    left: 450;
    width: 300;
    height: 50;
    border: 5px solid orange;
    font-size: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}