/*----------------------------------------------------------------------------------------------------------------------*/
/*Starting menu drawing code*/

/* Main*/
body{
    margin: 0;
}



#bg{
    position: absolute;
    border: 5px solid chocolate;
    top: 0;
    left: 0; 
    width: 800;
    height: 600;
}

.bg{
    position: absolute;
    top: 0;
    left: 0; 
    width: 800;
    height: 600;
    z-index: -3
}

#emptyDiv{
    background-color: white;
    top: 610;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
}



/*Left Side*/
#title{
    border: 5px solid green;
    border-radius: 35px;
    font-family: cursive;
    color: green;
    top: 45;
    left: 45;
    width: 300;
    height: 100;
    font-size: 88px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    position: absolute;
    animation: glow 1s ease-in-out infinite alternate;
    
}

.hero{
    left: 70;
    top: 190;
    width: 250;
    height: 250;
    position: absolute;
}

.bubble{
    position: absolute;
    left: 327;
    top: 95;
    width: 220;
    height: 200;
}

#bubbleText{
    margin-top: 30px;
    margin-left: 30px;
    left: 330;
    top: 130;
    font-size:  22px;
    width: 180;
    height: 60;
    position: absolute;
}

#startYes, #startNo{
    cursor: pointer;
    position: absolute;
    
    border: 2px solid;
    border-radius: 10px;
    
    color: black;
    
    width: 125;
    height: 70;

    text-decoration: none;
    
    overflow: hidden;
}

#startYes{
    border-color: #25d90d;
    left: 45;
    top: 485;
}

#startNo{
    border: 2px solid red;
    left: 220;
    top: 485;
}


#startYes:hover{
    color: #25d90d;
    box-shadow: 0 0 50px #25d90d;
    transition-delay: 0.5s;
}

#startNo:hover{
    color: red;
    box-shadow: 0 0 50px red;
    transition-delay: 0.5s;
}

#startYes:before, #startNo:before{
    visibility: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: 0.5s;
}

#startYes:before{
    border-top: 5px solid #25d90d;
    border-left: 5px solid #25d90d;
}

#startNo:before{
    border-top: 5px solid red;
    border-left: 5px solid red;
}

#startYes:hover:before, #startNo:hover:before{
    visibility: visible;
    height: 100%;
    width: 100%;
}

#startYes:hover:after, #startNo:hover:after{
    visibility: visible;
    height: 100%;
    width: 100%;
}

#startYes:after, #startNo:after{
    visibility: hidden;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    transition: 0.5s;
}

#startYes:after{
    border-bottom: 5px solid #25d90d;
    border-right: 5px solid #25d90d;
}

#startNo:after{
    border-bottom: 5px solid red;
    border-right: 5px solid red;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #4bf542, 0 0 30px #4bf542, 0 0 40px #4bf542,  0 0 50px #4bf542,  0 0 60px #4bf542,  0 0 70px #4bf542,  0 0 80px #4bf542;
    }
    
    to {
      text-shadow: 0 0 20px limegreen, 0 0 30px limegreen, 0 0 40px limegreen, 0 0 50px limegreen, 0 0 60px limegreen, 0 0 70px limegreen, 0 0 80px limegreen;
    }
}




/*Credits Box*/
#credits{
    background-color: #b5b2a8;
    border: 5px solid orange;
    left: 498;
    top: 530.5;
    width: 300;
    height: 72.5;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: -1;
}

#dropmenu{
    cursor: pointer;
    border: 5px solid orange;
    border-right: 2px solid orange;
    left: 498;
    top: 495;
    width: 300;
    height: 30;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    background-color: #b5b2a8;
    color: #38473b;
    /*z-index: -1;*/
}

table, td{
    z-index: -1;
    border: 5px solid orange;
}

table{
    font-family: 'Courier New';
    top: 605;
    left: 497.5;
    border-collapse: collapse;
    background-color: #b5b2a8;
    position: absolute;
}

td{
    width: 145;
    height: 50;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    color: #38473b;

}

#arrow1, #arrow2, #arrow3{
    font-size: 25px;
    display: flex;
    position: absolute;
}

#arrow1{ 
    left: 50;
}

#arrow2{ 
    left: 137.5;
}

#arrow3{ 
    left: 225;
}





/*Toolbars*/
#settings{
    cursor: pointer;
    border: 5px solid darkgray;
    left: 605;
    top: 20;
    width: 50;
    height: 50;
    position: absolute;
}

#personalInfo{
    cursor: pointer;
    border-radius: 25px;
    font-size: 30px;
    border: 5px solid yellow;
    left: 675;
    top: 20;
    width: 50;
    height: 50;
    position: absolute;  
}


#rules{
    cursor: pointer;
    font-size: 30px;
    border-radius: 25px;
    border: 5px solid limegreen;
    left: 745;
    top: 20;
    width: 50;
    height: 50;
    position: absolute;
}

#rulesMenu, #personalInfoMenu, #settingsMenu{
    border-radius: 20px;
    visibility: hidden;
    width: 240;
    height: 180;
    top: 90;
    left: 545;
    background-color: #d4d4d4;
    position: absolute;
}

#rulesMenu{
    border: 5px solid limegreen;
}

#personalInfoMenu{
    border: 5px solid yellow;
    color:#b5b13f;
}

#settingsMenu{
    border: 5px solid darkgray;
}

#rulesTittle{
    margin-top: 12px;
    text-align: center;
    font-size: 35px;
    color: limegreen;
}

#rulesP{
    margin-top: -15px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 17px;
    color: limegreen;

    text-align: center;
    display: flex;
    position: absolute;
}



#persInfo{
    margin-top: 5px;
    margin-left: 12px;
    position: absolute;
    font-size: 40px;
}

#phone{
    margin-top: 80px;
    margin-left: 15px;
    position: absolute;
    font-size: 20px;
}

#email{
    margin-top: 110px;
    margin-left: 15px;
    position: absolute;
    font-size: 20px;
}

#city{
    margin-top: 140px;
    margin-left: 15px;
    position: absolute;
    font-size: 20px;
}


/*Animations*/
@keyframes popupUp{
    0%  {margin-top: 0px;}
    100% {margin-top: -200px;}
}

@keyframes popupDown{
    0%  {margin-top: -200px;}
    100% {margin-top: 0px;}
}


/*----------------------------------------------------------------------------------------------------------------------*/
/*Exit menu drawing code*/

#exit{
    visibility: hidden;
    left: 400;
    top: 200;
    width: 300;
    height: 150;
    position: absolute;
    background-color: purple;
}

#confirmYes{
    left: 25;
    top: 100;
    width: 100;
    height: 50;
    position: absolute;
}

#confirmNo{
    left: 150;
    top: 100;
    width: 100;
    height: 50;
    position: absolute;
}

#gameMenu{
    width: 800;
    height: 600;
    position: absolute
    border;
}